@import url("https://fonts.googleapis.com/css?family=Lobster");

#carousel {
  position: absolute;
  height: 600px;
  max-width: 1750px;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f5;
  color: #8c8c8c;
}
.arrow:hover {
  transition: 0.2s ease-in-out;
  background-color: #8c8c8c;
  color: #f3f5f5;
}
.arrow-left svg {
  margin-left: 8px;
}
.arrow-left {
  left: 50px;
}
.arrow-right {
  right: 50px;
}

.item {
  width: 295px;
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
}

.level-2 {
  line-height: 150px;
  /* background-color: #228291; */
  left: 50%;
  transform: translate(calc(-50% - 2 * 300px)) scale(0.7);
  opacity: 1;
  transition: opacity 1s, left 0.3s, transform 0.5s;
}

.level-1 {
  line-height: 180px;
  /* background-color: #6796e5; */
  left: 50%;
  transform: translate(calc(-50% - 1 * 320px)) scale(0.7);
  opacity: 1;
  transition: 0.5s;
}

.level0 {
  line-height: 200px;
  /* background-color: #4ec9e1; */
  left: 50%;
  transform: translate(-50%) scale(1);
  opacity: 1;
  transition: 0.5s;
}

.level1 {
  line-height: 180px;
  /* background-color: #6796e5; */
  left: 50%;
  transform: translate(calc(-50% + 1 * 320px)) scale(0.7);
  opacity: 1;
  transition: 0.5s;
}

.level2 {
  line-height: 150px;
  /* background-color: #228291; */
  left: 50%;
  transform: translate(calc(-50% + 2 * 300px)) scale(0.7);
  opacity: 1;
  transition: opacity 0.5s, left 0.3s, transform 0.5s;
}

.left-enter {
  opacity: 0;
  left: 50%;
}

.left-enter.left-enter-active {
  opacity: 1;
  transition: opacity 1.5s;
}

.left-leave {
  opacity: 0;
  left: 45%;
  transition: opacity 0.5s, left 1s;
}

.left-leave.left-leave-active {
  opacity: 0;
}

.right-enter {
  opacity: 0;
  left: 50%;
  transition: opacity 1.5s;
}

.right-enter.right-enter-active {
  opacity: 1;
}

.right-leave {
  opacity: 1;
  /* transform: translateX(100%); */
  left: 100%;
  transition: left 4s;
}

.right-leave.right-leave-active {
  opacity: 0;
  transition: 0.3s;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
